.signatureCanvas{
    color: var(--clrDarkPrimary);
    border: 2px solid var(--clrDivider);
    border-radius: 1em;
    height: auto;
    box-sizing: border-box;
    outline: 0;
    overflow: hidden;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.signatureCanvas canvas {
    display: block;
}